.Weather {
  border: 1px solid #dadde1;
  border-radius: 4px;
  color: #885df1;
  font-family: Georgia, "Times New Roman", Times, serif;
  padding: 18px;
}

.Weather form {
  margin-bottom: 20px;
}

.Weather h1 {
  color: #885df1;
  font-size: 26px;
  font-weight: 700;
  margin: 20px 0 0 0;
  line-height: 29px;
}

.Weather ul {
  margin: 0;
  padding: 0;
}

.Weather li {
  font-size: 18px;
  font-weight: 200px;
  line-height: 20px;
  list-style: none;
}

.Weather canvas {
  display: inline-block;
  margin-right: 10px;
  margin-top: 5px;
}

.Weather .temperature {
  font-weight: bold;
  font-size: 50px;
  font-weight: 300;
  line-height: 50px;
}

.Weather .unit {
  font-size: 16px;
  font-weight: 400;
  line-height: 1;
  position: relative;
  top: -26px;
}
